# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data
data/dump
data/raw

# out
out/checkpoints
out/logs
out/figures

# backup
backup

# cache
src/eegpp/cache

# envs
TOKEN.txt

# result
inference_result.txt

# .ipynb
*.ipynb
