# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data
src/eegpp2/data/dump
src/eegpp2/data/raw

# out
src/eegpp2/out/checkpoints
src/eegpp2/out/logs
src/eegpp2/out/figures

# backup
backup

# cache
src/eegpp2/cache

# envs
TOKEN.txt

# result
inference_result.txt

# .ipynb
*.ipynb

# others
Guide.md
requirements.txt
